button,
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 20px;
}

/* Set box shadow for elements */
input[type="text"],
input[type="email"],
input[type="password"],
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Set primary color for buttons */
button {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

/* Set primary color for links */
a {
  color: #d0b8a8;
}

/* Set background color for forms */
.box-shadow {
  background-color: hsla(0, 0%, 97%, 0.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}