/* Global Styles */

/* Set background color */
html body {
  background-color: hsl(0, 0%, 100%);
}

/* Set font family and size */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set border radius for buttons and input fields */
button,
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 20px;
}

/* Set box shadow for elements */
button,
input[type="text"],
input[type="email"],
input[type="password"],
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Set primary color for buttons */
button {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

/* Set primary color for links */
a {
  color: #d0b8a8;
}

/* Set background color for forms */
.box-shadow {
  background-color: hsla(0, 0%, 97%, 0.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Set background color for cards */
.card {
  background-color: hsla(0, 0%, 100%, 0.852);
}

/* Set background color for input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #ffffffea;
  color: black;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

/* Set hover effect for buttons */
button:hover {
  background-color: #dfc3b3;
  border-color: #dfc3b3;
}

/* Set hover effect for links */
a:hover {
  color: #29c102;
}

/* Set hover effect for cards */
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Set active effect for buttons */
button:active {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

/* Set active effect for links */
a:active {
  color: #8822ff;
}

#app {
  max-width: 800px;
}